body {
  margin: 0;
  padding: 0;
  background: #005E64;
}

.text {
  position: relative; 
  top: 168px;
  text-align: center;
  color: #F198AA;
}

.text img {
  height: 300px;
  margin-bottom: 0;
}

.text h1 {
  font-weight: lighter;
  font-family: 'Montserrat';
  margin-top: 0;
}